In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter

In [2]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
362,tt1100119,40000000,28972508,Shorts,Jimmy Bennett|Kat Dennings|Jolie Vanier|Willia...,Robert Rodriguez,Not So TALL Tales From The Director Of 'Spy Kids',"A young boy's discovery of a colorful, wish-gr...",89,Comedy|Family,Warner Bros. Pictures,8/21/2009,4.8,2009
613,tt0411477,85000000,160388063,Hellboy II: The Golden Army,Ron Perlman|Selma Blair|Jeffrey Tambor|Doug Jo...,Guillermo del Toro,Saving the world is a hell of a job.,In this continuation to the adventure of the d...,120,Adventure|Fantasy|Science Fiction,Universal Pictures|Dark Horse Entertainment|La...,7/11/2008,6.4,2008
903,tt0278504,46000000,113714830,Insomnia,Al Pacino|Robin Williams|Maura Tierney|Hilary ...,Christopher Nolan,A tough cop. A brilliant killer. An unspeakabl...,Two Los Angeles homicide detectives are dispat...,118,Crime|Mystery|Thriller,Section Eight|Alcon Entertainment|Witt/Thomas ...,5/24/2002,6.6,2002
186,tt0864835,145000000,272912430,Mr. Peabody & Sherman,Ty Burrell|Max Charles|Ariel Winter|Allison Ja...,Rob Minkoff,He's Leaving His Mark On History,"A young boy and his dog, who happens to have a...",92,Animation|Adventure|Family,20th Century Fox,2/7/2014,6.8,2014
1764,tt0463998,21000000,41170784,Freedom Writers,Hilary Swank|Scott Glenn|Imelda Staunton|Patri...,Richard LaGravenese,Their story. Their world. Their future.,A young teacher inspires her class of at-risk ...,123,Crime|Drama,Double Feature Films|Jersey Films|Kernos Filmp...,1/5/2007,7.5,2007

In [3]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

In [610]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1889 entries, 0 to 1888
Data columns (total 14 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   imdb_id               1889 non-null   object
 1   budget                1889 non-null   int64
 2   revenue               1889 non-null   int64
 3   original_title        1889 non-null   object
 4   cast                  1889 non-null   object
 5   director              1889 non-null   object
 6   tagline               1889 non-null   object
 7   overview              1889 non-null   object
 8   runtime               1889 non-null   int64
 9   genres                1889 non-null   object
 10  production_companies  1889 non-null   object
 11  release_date          1889 non-null   object
 12  vote_average          1889 non-null   float64
 13  release_year          1889 non-null   int64
dtypes: float64(1), int64(4), object(9)
memory usage: 206.7+ KB

# Предобработка

In [744]:
answers = {} # создадим словарь для ответов

# тут другие ваши предобработки колонок например:

#the time given in the dataset is in string format.
#So we need to change this in datetime format
# ...

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [745]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
answers['1'] = '5. Pirates of the Caribbean: On Stranger Tides (tt1298650)'
# если ответили верно, можете добавить комментарий со значком "+"

In [24]:
# тут пишем ваш код для решения данного вопроса:
data.groupby(['original_title'])['budget'].max().sort_values(ascending=False)

original_title
Pirates of the Caribbean: On Stranger Tides    380000000
Pirates of the Caribbean: At World's End       300000000
Avengers: Age of Ultron                        280000000
Tangled                                        260000000
John Carter                                    260000000
                                                 ...
Spring Breakers                                  5000000
The Last Exorcism Part II                        5000000
Apollo 18                                        5000000
Paranormal Activity: The Marked Ones             5000000
Clerks II                                        5000000
Name: budget, Length: 1887, dtype: int64

In [25]:
data.groupby(['imdb_id'])['budget'].max().sort_values(ascending=False)

imdb_id
tt1298650    380000000
tt0449088    300000000
tt2395427    280000000
tt0401729    260000000
tt0398286    260000000
               ...
tt0283111      5000000
tt0289043      5000000
tt2101441      5000000
tt2870612      5000000
tt4178092      5000000
Name: budget, Length: 1889, dtype: int64

ВАРИАНТ 2

# 2. Какой из фильмов самый длительный (в минутах)?

In [746]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = '2. Gods and Generals (tt0279111)'

In [33]:
data_2 = data.groupby(['original_title'])['runtime'].max().sort_values(ascending = False)
data_2

original_title
Gods and Generals                                214
The Lord of the Rings: The Return of the King    201
Grindhouse                                       191
King Kong                                        187
Pearl Harbor                                     183
                                                ...
Valiant                                           76
Home on the Range                                 76
The Jungle Book 2                                 72
Return to Never Land                              72
Winnie the Pooh                                   63
Name: runtime, Length: 1887, dtype: int64

In [30]:
data_2 = data.groupby(['imdb_id'])['runtime'].max().sort_values(ascending = False)
data_2

imdb_id
tt0279111    214
tt0167260    201
tt0462322    191
tt0360717    187
tt0213149    183
            ...
tt0361089     76
tt0299172     76
tt0283426     72
tt0280030     72
tt1449283     63
Name: runtime, Length: 1889, dtype: int64

# 3. Какой из фильмов самый короткий (в минутах)?

In [747]:
answers['3'] = '3. Winnie the Pooh (tt1449283)'

In [34]:
data_3 = data.groupby(['original_title'])['runtime'].min().sort_values(ascending = False)
data_3

original_title
Gods and Generals                                214
The Lord of the Rings: The Return of the King    201
Grindhouse                                       191
King Kong                                        187
Pearl Harbor                                     183
                                                ...
Valiant                                           76
Home on the Range                                 76
The Jungle Book 2                                 72
Return to Never Land                              72
Winnie the Pooh                                   63
Name: runtime, Length: 1887, dtype: int64

In [35]:
data_3 = data.groupby(['imdb_id'])['runtime'].min().sort_values(ascending = False)
data_3

imdb_id
tt0279111    214
tt0167260    201
tt0462322    191
tt0360717    187
tt0213149    183
            ...
tt0361089     76
tt0299172     76
tt0283426     72
tt0280030     72
tt1449283     63
Name: runtime, Length: 1889, dtype: int64

# 4. Какова средняя длительность фильмов?

In [748]:
answers['4'] = '2. 110'

In [42]:
data['runtime'].mean()

109.6585494970884

# 5. Каково медианное значение длительности фильмов?

In [749]:
answers['5'] = '1. 107 '

In [10]:
data.median(axis = 0)

budget          38000000.0
revenue         83615414.0
runtime              107.0
vote_average           6.1
release_year        2008.0
dtype: float64

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [0]:
# лучше код получения столбца profit вынести в Предобработку что в начале

In [750]:
answers['6'] = '5. Avatar'

In [11]:
data['profit'] = data['revenue'] - data['budget']
profit_max = data['profit'].max()
film = data[data.profit == profit_max]
film['original_title']

239    Avatar
Name: original_title, dtype: object

# 7. Какой фильм самый убыточный?

In [751]:
answers['7'] = '5. The Lone Ranger'

In [14]:
data['profit'] = data['revenue'] - data['budget']
profit_min = data['profit'].min()
film = data[data.profit == profit_min]
film['original_title']

1245    The Lone Ranger
Name: original_title, dtype: object

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [752]:
answers['8'] = '1. 1478'

In [38]:
data_win = data[data['revenue'] > data['budget']]
data_count = len(data_win['revenue'])
data_count

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [753]:
answers['9'] = '4. The Dark Knight'

In [46]:
data[data['release_year'] == 2008].sort_values(by='revenue', ascending=False).iloc[0]

imdb_id                                                         tt0468569
budget                                                          185000000
revenue                                                        1001921825
original_title                                            The Dark Knight
cast                    Christian Bale|Michael Caine|Heath Ledger|Aaro...
director                                                Christopher Nolan
tagline                                                   Why So Serious?
overview                Batman raises the stakes in his war on crime. ...
runtime                                                               152
genres                                        Drama|Action|Crime|Thriller
production_companies    DC Comics|Legendary Pictures|Warner Bros.|Syncopy
release_date                                                    7/16/2008
vote_average                                                          8.1
release_year                                                         2008
profit                                                          816921825
Name: 599, dtype: object

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [754]:
answers['10'] = '5. The Lone Ranger'

In [56]:
data['profit'] = data['revenue'] - data['budget']#вычисляем профит
films_2012_2014 =data[data.release_year.between(2012,2014)]# собрали  фильмы 2012_2014 в датафрейм
films_2012_2014[(films_2012_2014.profit==films_2012_2014.profit.min())].original_title #выделим название самого убыточного

1245    The Lone Ranger
Name: original_title, dtype: object

# 11. Какого жанра фильмов больше всего?

In [0]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале

In [756]:
answers['11'] = '3. Drama '

In [251]:
data_11 = data.copy()
data_11['genres'] = data_11['genres'].str.split('|')
data_11 = data_11.explode('genres')
data_11['genres'].value_counts()

Drama              782
Comedy             683
Thriller           596
Action             582
Adventure          415
Crime              315
Romance            308
Family             260
Science Fiction    248
Fantasy            222
Horror             176
Mystery            168
Animation          139
Music               64
History             62
War                 58
Western             19
Documentary          8
Foreign              2
Name: genres, dtype: int64

In [235]:
data_11= data.copy()
data_11['genres'] = data_11['genres'].str.split('|')
data_11 = data_11.explode('genres')
data_11.groupby('genres').count()

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,production_companies,release_date,vote_average,release_year
genres,,,,,,,,,,,,,
Action,582,582,582,582,582,582,582,582,582,582,582,582,582
Adventure,415,415,415,415,415,415,415,415,415,415,415,415,415
Animation,139,139,139,139,139,139,139,139,139,139,139,139,139
Comedy,683,683,683,683,683,683,683,683,683,683,683,683,683
Crime,315,315,315,315,315,315,315,315,315,315,315,315,315
Documentary,8,8,8,8,8,8,8,8,8,8,8,8,8
Drama,782,782,782,782,782,782,782,782,782,782,782,782,782
Family,260,260,260,260,260,260,260,260,260,260,260,260,260
Fantasy,222,222,222,222,222,222,222,222,222,222,222,222,222
Foreign,2,2,2,2,2,2,2,2,2,2,2,2,2
History,62,62,62,62,62,62,62,62,62,62,62,62,62
Horror,176,176,176,176,176,176,176,176,176,176,176,176,176
Music,64,64,64,64,64,64,64,64,64,64,64,64,64
Mystery,168,168,168,168,168,168,168,168,168,168,168,168,168
Romance,308,308,308,308,308,308,308,308,308,308,308,308,308
Science Fiction,248,248,248,248,248,248,248,248,248,248,248,248,248
Thriller,596,596,596,596,596,596,596,596,596,596,596,596,596
War,58,58,58,58,58,58,58,58,58,58,58,58,58
Western,19,19,19,19,19,19,19,19,19,19,19,19,19

ВАРИАНТ 2

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [757]:
answers['12'] = '1. Drama'

In [202]:
data_12= data.copy()
data_12['profit'] = data['revenue'] - data['budget']
data_12['genres'] = data_12['genres'].str.split('|')
data_12 = data_12.explode('genres')
data_12[data_12['profit'] > 0].groupby(by = 'genres')['profit'].count().sort_values(ascending=False)

genres
Drama              560
Comedy             551
Thriller           446
Action             444
Adventure          337
Romance            242
Crime              231
Family             226
Science Fiction    195
Fantasy            188
Horror             150
Animation          120
Mystery            119
Music               47
History             46
War                 41
Western             12
Documentary          7
Name: profit, dtype: int64

In [203]:
data['profit'] = data['revenue'] - data['budget']
data.genres = data.genres.apply(lambda x: x.split('|'))
genres_profit = data[['genres','revenue']].explode('genres')
genres_profit.groupby('genres')[['revenue']].count().sort_values(by = 'revenue', ascending=False)

                 revenue
genres
Drama                782
Comedy               683
Thriller             596
Action               582
Adventure            415
Crime                315
Romance              308
Family               260
Science Fiction      248
Fantasy              222
Horror               176
Mystery              168
Animation            139
Music                 64
History               62
War                   58
Western               19
Documentary            8
Foreign                2

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [758]:
answers['13'] = '5. Peter Jackson'

In [67]:
data['profit'] = data['revenue']-data['budget']
data.director = data.director.apply(lambda x: x.split('|'))
director_profit = data[['director','revenue']].explode('director')
director_profit.groupby('director').revenue.sum().sort_values(ascending=False)

director
Peter Jackson        6490593685
Christopher Nolan    4167548502
David Yates          4154295625
Michael Bay          3886938960
J.J. Abrams          3579169916
                        ...
David MichÃ´d           2295423
Steven Shainberg        2281089
Paul Schrader           2062066
Keanu Reeves            2054941
Simon Hunter            2033165
Name: revenue, Length: 997, dtype: int64

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [759]:
answers['14'] = '3. Robert Rodriguez'

In [88]:
data_14 = data[data.genres.str.contains("Action", na=False)].copy()
data_14.director = data_14.director.str.split('|')
data_14 = data_14.explode('director')
data_14.groupby(['director']).director.count().sort_values(ascending=False)

director
Robert Rodriguez      9
Paul W.S. Anderson    7
Michael Bay           7
Ridley Scott          6
Antoine Fuqua         6
                     ..
Joe Cornish           1
Roger Spottiswoode    1
Jimmy Hayward         1
Jim Gillespie         1
Jon Avnet             1
Name: director, Length: 364, dtype: int64

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [760]:
answers['15'] = '3. Chris Hemsworth'

In [ ]:
data_15.loc[:,'cast'] = data_15.cast.map(lambda x: x.split('|'))

In [218]:
data_15=data[data['release_year'] == 2012]
data_15.loc[:, 'cast']=data_15.cast.map(lambda x: x.split('|'))
#data_15=data_15.explode('cast')
data_15.explode('cast').groupby(by='cast')['revenue'].sum().sort_values(ascending=False).head(10)

C:\Users\HP\anaconda3\lib\site-packages\pandas\core\indexing.py:1745: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(ilocs[0], value)

cast
Chris Hemsworth       2027450773
Denis Leary           1629460639
Anne Hathaway         1522851057
Chris Evans           1519557910
Robert Downey Jr.     1519557910
Mark Ruffalo          1519557910
Scarlett Johansson    1519557910
Ralph Fiennes         1409561013
Sacha Baron Cohen     1368110577
Kristen Stewart       1234384318
Name: revenue, dtype: int64

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [761]:
answers['16'] = '3. Matt Damon'

In [143]:
data_16 = data.copy()
data_16['cast']=data_16.cast.map(lambda x: x.split('|'))
data_16=data_16.explode('cast')
data_16[data_16['budget']>data_16['budget'].mean()].groupby('cast')[['original_title']].count().sort_values(by='original_title', ascending=False)

                         original_title
cast
Matt Damon                           18
Adam Sandler                         17
Angelina Jolie                       16
Tom Cruise                           15
Eddie Murphy                         15
...                                 ...
Jennifer Hudson                       1
Jennifer Jason Leigh                  1
Jennifer Saunders                     1
Jennifer Tilly                        1
Ã“lafur Darri Ã“lafsson               1

[1505 rows x 1 columns]

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [762]:
answers['17'] = '2. Action'

In [144]:
data_17 = data[data.cast.str.contains("Nicolas Cage")]#Выделим фильмы с участием Кейджа
# Подсчитаем количество
cage_genres=data_17['genres'].str.cat(sep='|') # превращаем все в одну строку
cage_genres=pd.Series(cage_genres.split('|')) # создаем список разделяя строку по '|' 
cage_genres=cage_genres.value_counts(ascending=False) # считаем количество элементов строке
cage_genres

Action             17
Thriller           15
Drama              12
Crime              10
Fantasy             8
Adventure           7
Comedy              6
Science Fiction     4
Mystery             3
Family              3
Animation           3
History             2
War                 1
Horror              1
Romance             1
dtype: int64

# 18. Самый убыточный фильм от Paramount Pictures

In [763]:
answers['18'] = '1. K-19: The Widowmaker (tt0267626)'

In [691]:
data_18 = data.copy()
data_18['profit'] = data['revenue']-data['budget']
data_18['production_companies'] = data_18['production_companies'].str.split('|')
data_18 = data_18.explode('production_companies')
data_18[data_18['production_companies'] == 'Paramount Pictures'].sort_values(by='profit', ascending=False)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,month,profit
828,tt1399103,195000000,1123746996,Transformers: Dark of the Moon,Shia LaBeouf|John Malkovich|Ken Jeong|Frances ...,Michael Bay,The invasion we always feared. An enemy we nev...,Sam Witwicky takes his first tenuous steps int...,154,Action|Science Fiction|Adventure,Paramount Pictures,2011-06-28,6.1,2011,6,928746996
317,tt1055369,150000000,836297228,Transformers: Revenge of the Fallen,Shia LaBeouf|Megan Fox|Josh Duhamel|Rainn Wils...,Michael Bay,Revenge is coming,Sam Witwicky leaves the Autobots behind for a ...,150,Science Fiction|Action|Adventure,Paramount Pictures,2009-06-19,6.0,2009,6,686297228
603,tt0367882,185000000,786636033,Indiana Jones and the Kingdom of the Crystal S...,Harrison Ford|Cate Blanchett|Shia LaBeouf|Ray ...,Steven Spielberg,The adventure continues . . .,"Set during the Cold War, the Soviets â€“ led b...",122,Adventure|Action,Paramount Pictures,2008-05-21,5.6,2008,5,601636033
1738,tt0418279,150000000,709709780,Transformers,Shia LaBeouf|Josh Duhamel|Megan Fox|Rachael Ta...,Michael Bay,Their war. Our world.,"Young teenager, Sam Witwicky becomes involved ...",144,Adventure|Science Fiction|Action,Paramount Pictures,2007-06-27,6.6,2007,6,559709780
730,tt1229238,145000000,694713380,Mission: Impossible - Ghost Protocol,Tom Cruise|Jeremy Renner|Simon Pegg|Paula Patt...,Brad Bird,No Plan. No Backup. No Choice.,In the 4th installment of the Mission Impossib...,133,Action|Thriller|Adventure,Paramount Pictures,2011-12-07,6.7,2011,12,549713380
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1631,tt0315297,50000000,25195000,Twisted,Ashley Judd|Samuel L. Jackson|Andy GarcÃ­a|Dav...,Philip Kaufman,Every murder has a mark.,Recently promoted and transferred to the homic...,97,Action|Adventure|Crime|Drama|Thriller,Paramount Pictures,2004-02-27,5.7,2004,2,-24805000
1623,tt0375173,60000000,13395939,Alfie,Jude Law|Marisa Tomei|Omar Epps|Jane Krakowski...,Charles Shyer,Meet a man who never met a woman he didn't love.,"In Manhattan, the British limousine driver Alf...",103,Comedy,Paramount Pictures,2004-10-22,5.4,2004,10,-46604061
1722,tt0435705,70000000,18211013,Next,Nicolas Cage|Julianne Moore|Jessica Biel|Thoma...,Lee Tamahori,"If you can see the future, you can save it.",Las Vegas showroom magician Cris Johnson has a...,96,Action|Science Fiction|Thriller,Paramount Pictures,2007-04-24,5.9,2007,4,-51788987
1123,tt0300556,80000000,19480739,Timeline,Paul Walker|Frances O'Connor|Gerard Butler|Bil...,Richard Donner,They had to travel into the past to save the f...,A group of archaeological students become trap...,116,Action|Adventure|Science Fiction,Paramount Pictures,2003-11-26,5.1,2003,11,-60519261
925,tt0267626,100000000,35168966,K-19: The Widowmaker,Harrison Ford|Liam Neeson|Peter Sarsgaard|Joss...,Kathryn Bigelow,Fate has found its hero.,When Russia's first nuclear submarine malfunct...,138,Thriller|Drama|History,Paramount Pictures,2002-07-19,6.0,2002,7,-64831034

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [764]:
answers['19'] = '5. 2015'

In [265]:
data_19 = data.copy()
data_19['profit'] = data['revenue'] - data['budget'] #прибыль
data_19.groupby('release_year').profit.sum().sort_values(ascending=False)

release_year
2015    18668572378
2014    16397812953
2012    16077001687
2013    15243179791
2011    14730241341
2010    13531204961
2009    13423744372
2008    11663881990
2007    11565911801
2004     9634180720
2003     9228823312
2002     9002361487
2005     8981925558
2006     8691077320
2001     7950614865
2000     6101399805
Name: profit, dtype: int64

# 20. Какой самый прибыльный год для студии Warner Bros?

In [765]:
answers['20'] = '3. 2012'

In [575]:
data_20 = data.copy()
data_20['profit'] = data['revenue']-data['budget']
data_20['production_companies'] = data_20['production_companies'].str.split('|')
data_20 = data_20.explode('production_companies')
data_20[data_20['production_companies'] == 'Warner Bros'].sort_values(by='profit', ascending=False)
#data_20[data_20['production_companies'] == 'Warner Bros'].sort_values()
#data_20.groupby(['imdb_id', 'release_year']).profit.max().sort_values(ascending=False) 
data_20.groupby(by = 'release_year')['profit'].max()

release_year
2000     421388105
2001     851475550
2002     847287400
2003    1024888979
2004     769838758
2005     745921036
2006     865659812
2007     788212738
2008     816921825
2009    2544505847
2010     863171911
2011    1202817822
2012    1299557910
2013    1124219009
2014     705119788
2015    1868178225
Name: profit, dtype: int64

In [612]:
data_20 = data.copy()
data_20['profit'] = data.revenue - data.budget #прибыль
data_20 = data_20[data_20['production_companies'].str.contains('Warner Bros')]
data_20[data_20.profit == data_20.profit.max()].release_year

722    2011
Name: release_year, dtype: int64

In [617]:
data_20 = data.copy()
data_20['profit'] = data['revenue'] - data['budget'] #прибыль
data_20 = data['production_companies'].str.split('|').explode().unique() # получим список уникальных названий компаний
data_20[data_20['production_companies'].str.contains('Warner Bros')]
data_20.groupby(['release_year'])['profit'].max()#.sort_values()

IndexError: only integers, slices (`:`), ellipsis (`...`), numpy.newaxis (`None`) and integer or boolean arrays are valid indices

In [581]:
data_20 = data.copy()
data_20['profit'] = data.revenue - data.budget #прибыль
data_20['production_companies'] = data_20['production_companies'].str.split('|')
data_20 = data_20.explode('production_companies')
                                                                                    
data_20[data_20['production_companies'].str.contains('Warner Bros')]



#data_20.groupby('release_year').profit.max().sort_values(ascending=False)  
#data_20.groupby(['release_year', 'production_companies']).profit.sum().value_counts()
data_20.groupby(['release_year']).profit.max().sort_values()    

#data_20[data_20['production_companies'].str.contains('Warner Bros')]
#data_20[data_20.profit == data_20.profit.max()].release_year

release_year
2000     421388105
2014     705119788
2005     745921036
2004     769838758
2007     788212738
2008     816921825
2002     847287400
2001     851475550
2010     863171911
2006     865659812
2003    1024888979
2013    1124219009
2011    1202817822
2012    1299557910
2015    1868178225
2009    2544505847
Name: profit, dtype: int64

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [766]:
answers['21'] = '4. Сентябрь'

In [623]:
data['month'] = pd.to_datetime(data.release_date).dt.month #преобразуем дату в год-месяц-число
data['month'].value_counts()

9     227
12    190
10    186
8     161
3     156
4     149
6     147
11    146
7     142
5     140
2     135
1     110
Name: month, dtype: int64

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [767]:
answers['22'] = '2. 450'

In [297]:
data['month'] = pd.to_datetime(data.release_date).dt.month

data.release_date = pd.to_datetime(data.release_date)
data[data.release_date.dt.month.isin([6,7,8])].shape[0]

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [768]:
answers['23'] ='5. Peter Jackson'

In [743]:
data['month'] = pd.to_datetime(data.release_date).dt.month
data.release_date = pd.to_datetime(data.release_date)
data['director'] = data['director'].str.split('|')
data = data.explode('director')
data[data.release_date.dt.month.isin([12, 1, 2])].sort_values(by = 'director')
data.groupby(['director']).director.count().sort_values(ascending=False)

def season(date):

    season = {'spring': [3, 4, 5],
               'summer': [6, 7, 8],
               'autumn': [9, 10, 11]}
    if date in season['spring']:
        return 'spring'
    if date in season['summer']:
        return 'summer'
    if date in season['autumn']:
        return 'autumn'
    else:
        return 'winter'
data['season'] = data.release_date.dt.month.apply(season)
data[data.season == 'winter'].director.value_counts()

Peter Jackson        7
Clint Eastwood       6
Steven Soderbergh    6
Shawn Levy           4
Martin Scorsese      4
                    ..
D.J. Caruso          1
Robert Zemeckis      1
Tyler Perry          1
Rob Bowman           1
Gavin O'Connor       1
Name: director, Length: 358, dtype: int64

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [769]:
answers['24'] = '5. Four By Two Productions'

In [587]:
data['title_length'] = data['original_title'].map(lambda x: len(x))# создадим столбец с длиной названия
companies = data['production_companies'].str.split('|').explode().unique() # получим список уникальных названий компаний
sum_gen = pd.Series(dtype='float64', index=companies) # создадим серию для хранения средних значений
# по всему датафрейму для каждой из компаний вычислим среднее значение для всех названий фильмов созданных компанией
for comp in companies:
    sum_gen[comp] = data['title_length'][data['production_companies'].map(lambda x: True if comp in x else False)].mean()
sum_gen.sort_values(ascending=False).head()# получим топ-5

Four By Two Productions      83.0
Jim Henson Company, The      59.0
Dos Corazones                47.0
Museum Canada Productions    46.0
Polsky Films                 46.0
dtype: float64

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [770]:
answers['25'] = '3. Midnight Picture Show'

In [636]:
data_25 = data.copy()
data_25['overview_words_length'] = data_25.overview.map(lambda x: len(x.split(' ')))
data_25['production_companies'] = data_25['production_companies'].str.split('|')
data_25 = data_25.explode('production_companies')
data_25.groupby('production_companies')['overview_words_length'].mean().sort_values(ascending=False).index[0]

'Midnight Picture Show'

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [771]:
answers['26'] ='1. Inside Out, The Dark Knight, 12 Years a Slave'

In [5]:
data_26 = data.copy()
stek = data_26['vote_average']
data_26 = pd.Series(stek)
data_26[data_26>data_26.quantile(0.99)]

9       8.0
34      8.0
118     8.0
119     7.9
125     8.0
128     7.9
138     7.9
370     7.9
599     8.1
872     7.9
1081    7.9
1183    7.9
1191    7.9
1800    7.9
Name: vote_average, dtype: float64

In [7]:
data[data['vote_average'] == 8].sort_values(by='original_title', ascending=False).head()

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
125,tt2084970,14000000,233555708,The Imitation Game,Benedict Cumberbatch|Keira Knightley|Matthew G...,Morten Tyldum,The true enigma was the man who cracked the code.,Based on the real life story of legendary cryp...,113,History|Drama|Thriller|War,Black Bear Pictures|Bristol Automotive,11/14/2014,8.0,2014
34,tt3170832,6000000,35401758,Room,Brie Larson|Jacob Tremblay|Joan Allen|Sean Bri...,Lenny Abrahamson,Love knows no boundaries,Jack is a young boy of 5 years old who has liv...,117,Drama|Thriller,Element Pictures|No Trace Camping|A24|Duperele...,10/16/2015,8.0,2015
118,tt0816692,165000000,621752480,Interstellar,Matthew McConaughey|Jessica Chastain|Anne Hath...,Christopher Nolan,Mankind was born on Earth. It was never meant ...,Interstellar chronicles the adventures of a gr...,169,Adventure|Drama|Science Fiction,Paramount Pictures|Legendary Pictures|Warner B...,11/5/2014,8.0,2014
9,tt2096673,175000000,853708609,Inside Out,Amy Poehler|Phyllis Smith|Richard Kind|Bill Ha...,Pete Docter,Meet the little voices inside your head.,"Growing up can be a bumpy road, and it's no ex...",94,Comedy|Animation|Family,Walt Disney Pictures|Pixar Animation Studios|W...,6/9/2015,8.0,2015

In [4]:
data.groupby('original_title')[['vote_average']].agg(lambda g: np.percentile(g, 0.01)).head(10)

                      vote_average
original_title
(500) Days of Summer           7.3
10,000 BC                      5.2
102 Dalmatians                 5.0
12 Rounds                      5.9
12 Years a Slave               7.9
127 Hours                      6.9
13 Going On 30                 6.1
1408                           6.4
15 Minutes                     5.7
16 Blocks                      6.1

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [772]:
answers['27'] ='5. Daniel Radcliffe & Rupert Grint'

In [696]:
from itertools import combinations
pairs = Counter()
for i in range(0, len(data)):
    artists = data.cast[i].split('|')
    for j in list(combinations(artists, 2)):
        if j not in pairs:
            pairs[j] = 1
        else:
            pairs[j] += 1
pairs.most_common(5)

[(('Daniel Radcliffe', 'Rupert Grint'), 8),
 (('Daniel Radcliffe', 'Emma Watson'), 8),
 (('Rupert Grint', 'Emma Watson'), 7),
 (('Ben Stiller', 'Owen Wilson'), 6),
 (('Johnny Depp', 'Helena Bonham Carter'), 6)]

ВАРИАНТ 2

# Submission

In [773]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': '5. Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': '2. Gods and Generals (tt0279111)',
 '3': '3. Winnie the Pooh (tt1449283)',
 '4': '2. 110',
 '5': '1. 107 ',
 '6': '5. Avatar',
 '7': '5. The Lone Ranger',
 '8': '1. 1478',
 '9': '4. The Dark Knight',
 '10': '5. The Lone Ranger',
 '11': '3. Drama ',
 '12': '1. Drama',
 '13': '5. Peter Jackson',
 '14': '3. Robert Rodriguez',
 '15': '3. Chris Hemsworth',
 '16': '3. Matt Damon',
 '17': '2. Action',
 '18': '1. K-19: The Widowmaker (tt0267626)',
 '19': '5. 2015',
 '20': '3. 2012',
 '21': '4. Сентябрь',
 '22': '2. 450',
 '23': '5. Peter Jackson',
 '24': '5. Four By Two Productions',
 '25': '3. Midnight Picture Show',
 '26': '1. Inside Out, The Dark Knight, 12 Years a Slave',
 '27': '5. Daniel Radcliffe & Rupert Grint'}

In [774]:
# и убедиться что ни чего не пропустил)
len(answers)

27